<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form>
        date-time-from: <input type="datetime-local" name="date-from">
        date-time-to: <input type="datetime-local" name="date-to">
        file: <input type="file" name="files" multiple>
        <button type="submit"> --> Send <-- </button>
        <div class="answ"></div>
        <div class="files-list"></div>
      </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
