<!DOCTYPE html>
<html>

<head>
  <title>Make your URL Shorter!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='icon' href='data:;base64,=' />
</head>

<body>
  <main>
    <h1>Make your URL Shorter!</h1>

    <div class="main-panel">
      <a href="#" class="gitlab-reg">GITLAB</a>
    </div>

    <form class="main-form">
      <div class="long-url-block">
        <input type="text" name="longUrl" placeholder="put your url here" class="input-url">
        <button type="submit" class="btn-submit">GO</button>
      </div>
      <div class="short-url-block">
        <input type="text" name="shortUrl" placeholder="here is your result" class="output-url">
        <button type="button" class="btn-copy">Copy</button>
      </div>
    </form>

    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>