<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="main">
      <% for (let i = 0; i < breedsArr.length; i++) { %>
        <div class="breed <%= breedsArr[i].breed %>">
          <%= breedsArr[i].breed %>
        
        </div>
      <% } %>
    </main>
    <script src="/javascripts/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
