<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <select class="breed-list"> Dogs Breeks:
      <% for (let i = 0; i < breedsArr.length; i++) { %>
        <option class="breed-list-item" value="<%= breedsArr[i] %>" id="<%= breedsArr[i] %>">
          <%= breedsArr[i] %>
        </option>
      <% } %>
    </select>

    <div class="main-image">
      <img src="
        <%= imageSrc %>
      ">
    </div>
    
    <script src="/javascripts/main.js"></script>
  </body>
</html>
