<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="add-article">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="article" placeholder="article">
      <input type="text" name="tags" placeholder="tags">
      <input type="date" name="date">
      <input type="submit" value="save article">
    </form>
    <div class="wrapper">
      <h1>Status:</h1><div class="output"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
