<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='icon' href='data:;base64,=' />
</head>

<body>

  <form id="form1">
    <input type="text" name="name" placeholder="name" class="input-name">
    <input type="text" name="email" placeholder="email" class="input-email">
    <button type="submit">Add User</button>
  </form>
  <h1>Out</h1>
  <div class="output"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>
