<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='icon' href='data:;base64,=' />
</head>

<body>
  <form class="main-form">
    <input type="text" name="passw-local" placeholder="password-local" class="input-passw-loc">
    <input type="text" name="passw-remote" placeholder="password-remote" class="input-passw-rem">
    <input type="text" name="url-remote" placeholder="url-remote" class="input-url-rem">
    <button type="submit" class="btn-submit">--> Send <--</button>
    <h1>Answer:</h1><div class="output"></div>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>
