body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  height: 38px;
  min-width: 300px;
}

.main-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 auto;
}

.long-url-block, .short-url-block {
  margin: 0 auto;
}

button {
  border-radius: 5px;
  height: 38px;
  // border: none;
}

.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.gitlab-reg {
  display: block;
  width: 200px;
  height: 20px;
  position: absolute;
  right: 0;
}