<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form id="form-select">
    <input type="text" name="from" placeholder="from">
    <input type="text" name="to" placeholder="to">
    <button type="submit" class="btn-submit"> FIND CAR </button>
    </div>
  </form>
  <hr>
  <form id="form-insert">
    <input type="text" name="make" placeholder="make">
    <input type="text" name="model" placeholder="model">
    <input type="text" name="year" placeholder="year">
    <button type="submit" value="INSERT">INSERT</button>
  </form>
  <hr>
  <form id="form-delete">
    <input type="text" name="id" placeholder="id">
    <button type="submit" value="DELETE">DELETE</button>
  </form>
  <hr>
  <h1>Out:</h1>
  <div class="output"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>
